/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url("/images/chips2.avif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#topSection{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 5px solid white;
  border-radius: 5px;
}

h1{
  text-align: center;
  width: 100%;
}

.deckStatus{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.deckStatus > div{
  margin: 10px;
}

.gameArea{
  display: flex;
  justify-content: center;
  width: 100%;
}

.dealer{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 10px 0;
  margin: 0 2.5%;
  border: 5px solid white;
  border-radius: 5px;
}

.player1{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 10px 0;
  margin: 0 2.5%;
  border: 5px solid white;
  border-radius: 5px;
}

.valueDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.valueDiv > h3{
  padding: 0 5px;
}

.betting{
  margin: 15px;
}

img{
  display: inline-block;
  margin: none;
  width: 125px;
  min-width: 125px;
  padding: 10px;
}

.cardImages {
  width: 100%;
  text-align: center;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body * {
  
}

#topSection {
  background-color: darkgreen;
}

#topSection > * {
  color: white;
}

.player1{
  background-color: darkgreen;
}

.player1 > *{
  color: white;
}

.dealer{
  background-color: darkgreen;
}

.dealer > *{
  color: white;
}

/* .gameArea button{
  background: black;
  color: white;
} */